body {
    font-size: 0.8rem;
}

.col-w-10 {
    width: 10%;
}

.col-w-15 {
    width: 15%
}

.col-w-16 {
    width: 17%
}

.col-w-17 {
    width: 18
}

.col-w-18 {
    width: 19%
}

.col-w-19 {
    width: 15%
}

.col-w-20 {
    width: 20%
}

.col-w-30 {
    width: 30%
}

.col-w-40 {
    width: 40%
}

.col-w-50 {
    width: 50%
}

.col-w-60 {
    width: 60%
}

.col-w-70 {
    width: 70%
}

.col-w-80 {
    width: 80%
}

.col-w-90 {
    width: 90%
}

nav-left {
    background: #0178bc;
    /*background: #000;*/
    position: absolute;
    top: 0px;
    bottom: 0;
    left: 0;
    width: 50px;
    padding-top: 50px;
    padding-left: 6px;
}

header {
    background: #0178bc;
    background: -moz-linear-gradient(left, #0178bc 0%, #00bdda 100%);
    background: -webkit-linear-gradient(left, #0178bc 0%, #00bdda 100%);
    background: linear-gradient(to right, #0178bc 0%, #00bdda 100%);
    /*background: #000;*/
    position: absolute;
    top: 0;
    left: 50px;
    right: 0;
    height: 50px;
    padding-left: 5px;
}

main {
    background: #F8F9FA;
    position: absolute;
    top: 50px;
    bottom: 0;
    left: 50px;
    right: 0;
    overflow-y: scroll;
    padding: 7px 3px 7px 3px;
}

.brand {
    color: #fff;
    font-size: 32px;
}

/**** FOR FIREFOX *****/
scrollbar {
    /*  clear useragent default style*/
    -moz-appearance: none !important;
}

/* buttons at two ends */
scrollbarbutton {
    -moz-appearance: none !important;
}

/* the sliding part*/
thumb {
    -moz-appearance: none !important;
}

scrollcorner {
    -moz-appearance: none !important;
    resize: both;
}

/* vertical or horizontal */
scrollbar[orient="vertical"] {
    color: silver;
}

/**** FOR CHROME/SAFARI *****/
/* width */
::-webkit-scrollbar {
    width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #ccc;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #888;
}

.container {
    width: 100%;
    padding-right: 4px;
    padding-left: 4px;
    margin-right: auto;
    margin-left: auto;
}

.container-fluid {
    width: 100%;
    padding-right: 4px;
    padding-left: 4px;
    margin-right: auto;
    margin-left: auto;
}

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -4px;
    margin-left: -4px;
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12,
.col,
.col-auto,
.col-sm-1,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm,
.col-sm-auto,
.col-md-1,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md,
.col-md-auto,
.col-lg-1,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg,
.col-lg-auto,
.col-xl-1,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9,
.col-xl-10,
.col-xl-11,
.col-xl-12,
.col-xl,
.col-xl-auto {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 4px;
    padding-left: 4px;
}

.custom-range::-ms-fill-upper {
    margin-right: 4px;
    background-color: #dee2e6;
    border-radius: 1rem;
}
.card-deck .card {
    margin-bottom: 4px;
}
@media (max-width: 576px) {
    #frmSearchHome{
        display: none;
    }
}
@media (min-width: 576px) {
    .card-deck {
        -ms-flex-flow: row wrap;
        flex-flow: row wrap;
        margin-right: -4px;
        margin-left: -4px;
    }
    .card-deck .card {
        display: -ms-flexbox;
        display: flex;
        -ms-flex: 1 0 0%;
        flex: 1 0 0%;
        -ms-flex-direction: column;
        flex-direction: column;
        margin-right: 4px;
        margin-bottom: 0;
        margin-left: 4px;
    }
}
.card-group>.card {
    margin-bottom: 4px;
}
label {
    margin-bottom: 0px;
}
select {
    font-family: fontAwesome, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"
}
fieldset {
    position: relative;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    border: 1px solid #CED4DA;
    background-color: #fff;
    margin-bottom: 10px;
    /*border-radius: 4px 0 0 0;*/
}
legend {
    position: absolute;
    top: 3px;
    left: 0px;
    width: auto;
    max-width: auto;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 6px;
    padding-bottom: 6px;
    font-size: 1rem;
    color: #0178BC;
    font-weight: 700;
    /*border: 1px solid #CED4DA;*/
    /*border-left: 1px solid #CED4DA;*/
    background-color: #fff;
    /*border-radius: 4px 0 4px 0;*/
}
fieldset > .container-fluid {
    width: 100%;
    padding-right: 10px;
    padding-left: 10px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 45px;
    margin-bottom: 10px;
}
#frmCustomer .p-default {
    min-width: 80px;
}
.btn-light {
    border: 1px solid #CED4DA;
}
.bg-write {
    background-color: #fff;
    border: 1px solid #CED4DA;
    padding: 0.3rem 0.3rem;
    margin-left: 4px;
    margin-right: 4px;
}

th, 
td {
    white-space: nowrap;
    cursor: default;
    color: #666;
}
.table thead tr th:hover {
    background-color: #f1f1f1 !important;
    cursor: pointer;
}