<div class="container-fluid">
    <div class="row align-items-center m-5">
        <div class="col-12 col-md-6 offset-xl-2 offset-md-1 order-md-2 mb-5 mb-md-0">

            <!-- Image -->
            <div class="text-center">
                <img src="assets/module/img/lost.svg" alt="..." class="img-fluid">
            </div>

        </div>
        <div class="col-12 col-md-5 col-xl-4 order-md-1 my-5">

            <div class="text-center">

                <!-- Preheading -->
                <h6 class="text-uppercase text-muted mb-4">
                    401 denied
                </h6>

                <!-- Heading -->
                <h2 class="mb-3">
                    Lost in system?<br />You do not have permission to access.
                </h2>

                <!-- Subheading -->
                <p class="text-muted mb-4">
                    Looks like you ended up here by accident?
                </p>

            </div>

        </div>
    </div> <!-- / .row -->
</div> <!-- / .container -->