<div class="row">
    <div class="col-md-12">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item dropdown active">
                        <a class="nav-link dropdown-toggle" href="#" id="navDropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Components</a>
                        <div class="dropdown-menu" aria-labelledby="navDropdown01">
                            <a class="dropdown-item" id="menuComboBox" data-item="comboBox" href="#">ComboBox</a>
                            <a class="dropdown-item" id="menuComboBoxOption" data-item="comboBoxOption" href="#">ComboBoxOption</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navDropdown02" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Admin</a>
                        <div class="dropdown-menu" aria-labelledby="navDropdown02">
                            <a class="dropdown-item" id="menuUsuario" data-item="usuario" href="#">Usuário</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navDropdown03" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Tools</a>
                        <div class="dropdown-menu" aria-labelledby="navDropdown03">
                            <a class="dropdown-item" id="menuDbImport" data-item="dbImport"  href="#">DB Import</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div id="SEC_ADMIN" class="container-fluid"></div>
    </div>
</div>