<div class="container-fluid">
    <form id="formFormaDeTratamentoModal" name="formFormaDeTratamentoModal">
        <div class="row">
            <div class="col-md-2">
                <label>#</label>
                <input id="formaDeTratamentoModalId" type="text" class="form-control form-control-sm" disabled />
            </div>
            <div class="col-md-8">
                <label for="formaDeTratamentoModalDescr">Descrição</label>
                <input maxlength="60" id="formaDeTratamentoModalDescr" type="text" class="form-control form-control-sm" />
            </div>
            <div class="col-md-2 space-top">
                <div style="margin-top: 23px">
                    <div class="pretty p-default">
                        <input type="checkbox" id="formaDeTratamentoModalDisabled" value="DISABLED" />
                        <div class="state p-info">
                            <label for="formaDeTratamentoModalDisabled">Inativo</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 mt-2">
                <div class="float-left">
                    <button id="btnFormaDeTratamentoModalCancelar" class="btn btn btn-sm btn-light mr-1" data-dismiss="modal">Cancelar</button>
                    <button id="btnFormaDeTratamentoModalGravar" class="btn btn-sm btn-primary mr-1">Gravar</button>
                </div>
            </div>
        </div>
    </form>
</div>