<div class="container-fluid">

    <div class="row">
        <div class="col-md-6">
            <label>Nome</label>
            <input type="text" class="form-control form-control-sm" />
        </div>
        <div class="col-md-2">
            <label>Telefone</label>
            <input type="text" class="form-control form-control-sm" />
        </div>
        <div class="col-md-2 space-top">
            <label>Código:</label>
            <select class="form-control form-control-sm">
                <option value="">Selecione</option>
                <option value="CHAMADO" selected>Chamado</option>
                <option value="MATRICULA">Matrícula</option>
            </select>
        </div>
        <div class="col-md-2">
            <label>Número</label>
            <input type="text" class="form-control form-control-sm" />
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-md-6">
            <label>E-mail</label>
            <input type="text" class="form-control form-control-sm" />
        </div>
        <div class="col-md-2">
                <label>Documento</label>
                <input type="text" class="form-control form-control-sm" />
            </div>
        <div class="col-md-2">
            <label>CPF/CNPJ</label>
            <input type="text" class="form-control form-control-sm" />
        </div>
        <div class="col-md-2">
            <label>RG/IE</label>
            <input type="text" class="form-control form-control-sm" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="table-wrapper">
                <table id="ltsIdentificacao" class="table table-condensed nowrap mt-2" style="width: 100%">
                    <thead>
                        <tr>
                            <th data-column="id">Matrícula</th>
                            <th data-column="nome">Nome/Empresa</th>
                            <th data-column="CPF">CPF/CNPJ</th>
                            <th data-column="dataNascimento">Dt. Nascimento</th>
                            <th data-column="telefone">Telefone</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>